/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Self-hosted Google Fonts (latin-ext)*/

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-BoldItalic.woff2) format('woff2');
}

/*---------STYLE----------*/

body {
    background-color: #046BFB;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

header {
    background: rgba(4, 107, 251, 0.9);
}

.navbar-brand {
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 0.1em;
}

.navbar-brand:hover {
    color: #FCEC2C;
}

.pokemon-search {
    border-radius: 0;
    background-color: transparent;
    border: 3px solid #fff;
    color: #000;
}

.pokemon-search::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}

.pokemon-search::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}

.pokemon-search:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}

.pokemon-search::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}

.pokemon-search::placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}

main {
    padding-top: 80px;
}

.pokeball {
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    margin: 0 auto;
}

#list-loader:not([hidden]) {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.loader-pokeball {
    width: 50px;
    height: 50px;
    -webkit-animation: fading 1s infinite alternate linear;
            animation: fading 1s infinite alternate linear;
}
  
@-webkit-keyframes fading {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
  
@keyframes fading {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.pokemon-list{
    padding: 3% 5%;
    list-style-type: none;
    /*----Start grid fallback----*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    /*----End grid fallback----*/
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.list-group-item{
    display: inline-block;
    padding: 0;
    border: none;
}

.pokemon-button {
    width: 100%;
    border: 5px solid #000;
    border-radius: 0;
    -webkit-box-shadow: 5px 5px #000;
            box-shadow: 5px 5px #000;
    padding: 30px;
    font-size: 1em;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.pokemon-button:hover {
    background-color: #FCEC2C;
    font-weight: bold;
    cursor: pointer;
}

footer {
    padding: 50px 20px;
    text-align: center;
    color: #fff;
    line-height: 1.2em;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #FCEC2C;
}

/*------RESPONSIVE-------*/

@media all and (max-width: 1080px) {

    .pokemon-list{
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

}

@media all and (max-width: 576px) {

    body {
        font-size: 22px;
    }

    .pokemon-list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .pokemon-button {
        padding: 20px;
    }

}

@media all and (max-width:417px) {

    main {
        padding-top: 120px;
    }

    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .pokemon-search::-webkit-input-placeholder {
        text-align: center;
    }

    .pokemon-search::-moz-placeholder {
        text-align: center;
    }

    .pokemon-search:-ms-input-placeholder {
        text-align: center;
    }

    .pokemon-search::-ms-input-placeholder {
        text-align: center;
    }

    .pokemon-search::placeholder {
        text-align: center;
    }

}

/*-------------MODAL-------------*/

.modal {
    display: none;
    background: rgba(4, 107, 251, 0.9);
    color: #000;
}

.modal-content, .modal-header, .modal-body {
    background: transparent;
    border: none;
    padding: 0;
}

.close {
    font-size: 2em;
}
  
.close:hover {
    cursor: pointer;
}

.panel {
    background-color: #D81E1E;
    -webkit-box-shadow: 5px 5px #000;
            box-shadow: 5px 5px #000;
}

.panel {
    border: 5px solid #000;
}

.light {
    border: 5px solid #000;
}

.screen-frame {
    border: 5px solid #000;
}

.screen {
    border: 5px solid #000;
}

/*---Top panel (lights) ----*/

.lights-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5% 5%;
}

.light {
    border-radius: 100%;
}
  
.big-light {
    width: 11%;
    background: #046BFB;
}
  
.small-light {
    width: 7%;
    margin-left: 3%;
}
  
.big-light::after, .small-light::after {
    /*this makes containers square and responsive*/
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
.small-light__red {
    background-color: #D81E1E;
}
  
.small-light__yellow {
    background-color: #FCEC2C;
}
  
.small-light__green {
    background-color: #18D52B;
}

/*---Mid-panel (image) ----*/

.image-panel, .data-panel {
    border-top: none;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.screen-frame {
    padding: 5%;
    border-radius: 0 0 0 40px;
    background-color: #DCDCDC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.screen {
    border-radius: 20px;
    padding: 20px;
    letter-spacing: 0.1em;
}
  
.image-screen {
    background: #000;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.pokemon-image{
    width: 60%;
}

/*---Bottom-panel (data screens) ----*/

.name-screen{
    background-color: #18D52B;
    text-transform: capitalize;
    gap: 20px;
    margin-bottom: 20px;
}

.name-screen h2{
    font-size: 1.2em;
    line-height: 0.8em;
}

.small-screens {
    gap: 20px;
    font-size: 0.6em;
}

.small-screens h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 10px;
}

.small-screens ul{
    list-style: "> ";
    padding-left: inherit;
}

.height-screen {
    background-color: #FCEC2C;
}

.types-screen {
    background-color: #FCEC2C;
}

.types-screen {
    text-transform: capitalize;
}