/* Self-hosted Google Fonts (latin-ext)*/

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-BoldItalic.woff2) format('woff2');
}

/*---------STYLE----------*/
:root {
    --pokedex-color: #DC143C;
    --border-color: #000;
    --frame-color: #DCDCDC;
    --screen-color: #32CD32;
}

body {
    background-color: var(--pokedex-color);
    padding: 10%;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}
  
.pokedex, .screen {
    border: 5px solid var(--border-color);
    padding: 10%;
}
  
.pokedex {
    width: 80%;
    min-width: 250px;
    margin: 0 auto;
    background-color: var(--frame-color);
    border-radius: 0 0 0 100px;
}
  
.screen {
    background-color: var(--screen-color);
    border-radius: 50px;
}
  
.one-pokemon {
    border: 3px solid var(--border-color);
    padding: 2% 5% 2% 5%;
    margin-bottom: 2%;
}
  
h3 {
    text-decoration: underline;
}
  
.big-pokemon {
    font-style: italic;
}

/*------RESPONSIVE-------*/

@media all and (max-width: 576px) {

    body {
        font-size: 0.8em;
    }

}