/* Self-hosted Google Fonts (latin-ext)*/

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/SourceCodePro-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/SourceCodePro-BoldItalic.woff2) format('woff2');
}

/*---------STYLE----------*/
:root {
    --blue: #046BFB;
    --black: #000;
    --light-grey: #DCDCDC;
    --red: #D81E1E;
    --yellow: #FCEC2C;
    --green: #18D52B;
}

body {
    background-color: var(--blue);
    padding: 5%;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

.pokeball {
    display: block;
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

.pokemon-list{
    padding: 25px 0 50px 0;
    list-style: none;
    /*----Start grid fallback----*/
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    /*----End grid fallback----*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.pokemon-button {
    width: 100%;
    border: 5px solid var(--black);
    box-shadow: 5px 5px var(--black);
    padding: 30px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.pokemon-button:hover {
    background-color: var(--yellow);
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
}

/*------RESPONSIVE-------*/

@media all and (max-width: 1080px) {

    .pokemon-list{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

}

@media all and (max-width: 576px) {

    body {
        font-size: 20px;
    }

    .pokemon-list{
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .pokemon-button {
        padding: 20px;
    }

}